openapi: 3.2.0
info:
  title: Stigg REST Usage API
  description: 'The Stigg REST API (Public Beta) provides RESTful HTTP access to customer management, subscription provisioning, entitlement enforcement, and usage metering. It supports TypeScript, Python, Go, Ruby, C#, and Java SDKs and accepts API key authentication via the X-API-KEY header. Base URL: https://api.stigg.io/api/v1'
  version: 7.10.0
  contact:
    url: https://www.stigg.io/
  termsOfService: https://www.stigg.io/terms
servers:
- url: https://api.stigg.io
  description: Stigg Production API
security:
- ApiKeyAuth: []
tags:
- name: Usage
  description: Usage reporting and event-based metering.
paths:
  /api/v1/usage:
    post:
      tags:
      - Usage
      summary: Report usage measurements
      description: Reports usage measurements for metered features. The reported usage is used to track, limit, and bill customer consumption.
      operationId: UsageController_reportUsage
      parameters:
      - name: X-ACCOUNT-ID
        in: header
        required: false
        schema:
          type: string
      - name: X-ENVIRONMENT-ID
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportUsageRequestDto'
            examples:
              basic:
                summary: Report API call usage
                value:
                  customerId: customer-123
                  featureId: feature-api-calls
                  value: 100
      responses:
        '201':
          description: The recorded usage measurement objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponseDto'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadInputErrorResponseDto'
        '401':
          description: User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedErrorResponseDto'
        '403':
          description: User is not allowed to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
        '409':
          description: Usage conflict error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponseDto'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsErrorResponseDto'
  /api/v1/events:
    post:
      tags:
      - Usage
      summary: Report usage events
      description: Reports raw usage events for event-based metering. Events are ingested asynchronously and aggregated into usage totals.
      operationId: EventsController_reportEvent
      parameters:
      - name: X-ACCOUNT-ID
        in: header
        required: false
        schema:
          type: string
      - name: X-ENVIRONMENT-ID
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportEventRequestDto'
            examples:
              basic:
                summary: Report a usage event
                value:
                  customerId: customer-123
                  featureId: feature-api-calls
                  eventName: api_request
                  idempotencyKey: evt-unique-001
      responses:
        '200':
          description: Confirmation that events were accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponseDto'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadInputErrorResponseDto'
        '401':
          description: User is not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedErrorResponseDto'
        '403':
          description: User is not allowed to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponseDto'
        '404':
          description: Event not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorResponseDto'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsErrorResponseDto'
components:
  schemas:
    NotFoundErrorResponseDto:
      type: object
      properties:
        message:
          type: string
        code:
          type:
          - string
          - 'null'
      required:
      - message
      - code
      description: Resource not found error response.
    ReportEventRequestDto:
      type: object
      properties:
        customerId:
          type: string
          description: The customer ID.
        featureId:
          type: string
          description: The feature ID.
        eventName:
          type: string
          description: The name of the event.
        idempotencyKey:
          type:
          - string
          - 'null'
          description: Idempotency key to prevent duplicate event ingestion.
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp for the event (defaults to now).
        dimensions:
          type: object
          additionalProperties:
            type: string
          description: Additional event dimensions for aggregation.
      required:
      - customerId
      - featureId
      - eventName
      additionalProperties: false
      description: Reports raw usage events for event-based metering.
    BadInputErrorResponseDto:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
        code:
          type:
          - string
          - 'null'
          description: Machine-readable error code.
      required:
      - message
      - code
      description: Bad request error response.
    TooManyRequestsErrorResponseDto:
      type: object
      properties:
        message:
          type: string
        code:
          type:
          - string
          - 'null'
          enum:
          - RateLimitExceeded
      required:
      - message
      - code
      description: Rate limit exceeded error response.
    ConflictErrorResponseDto:
      type: object
      properties:
        message:
          type: string
        code:
          type:
          - string
          - 'null'
          enum:
          - DuplicatedEntityNotAllowed
          - EntitlementBelongsToFeatureGroupError
      required:
      - message
      - code
      description: Conflict error response (e.g., duplicate resource).
    ForbiddenErrorResponseDto:
      type: object
      properties:
        message:
          type: string
        code:
          type:
          - string
          - 'null'
          enum:
          - IdentityForbidden
          - AccessDeniedError
          - NoFeatureEntitlementError
      required:
      - message
      - code
      description: Authorization error response.
    EventResponseDto:
      type: object
      properties:
        data:
          type: object
          properties:
            accepted:
              type: boolean
              description: Whether the event was accepted for processing.
      description: Confirmation that events were accepted for processing.
    UnauthenticatedErrorResponseDto:
      type: object
      properties:
        message:
          type: string
        code:
          type:
          - string
          - 'null'
          enum:
          - Unauthenticated
      required:
      - message
      - code
      description: Authentication error response.
    UsageResponseDto:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: Usage measurement ID.
            customerId:
              type: string
              description: The customer ID.
            featureId:
              type: string
              description: The feature ID.
            value:
              type: number
              description: The reported usage value.
            timestamp:
              type: string
              format: date-time
              description: The timestamp of the usage measurement.
      description: Usage measurement response.
    ReportUsageRequestDto:
      type: object
      properties:
        customerId:
          type: string
          description: The customer ID for which usage is being reported.
        featureId:
          type: string
          description: The feature ID for which usage is being reported.
        value:
          type: number
          description: The usage value to report.
        idempotencyKey:
          type:
          - string
          - 'null'
          description: Optional idempotency key to prevent duplicate usage reporting.
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
          description: Timestamp for the usage measurement (defaults to now).
        updateBehavior:
          type:
          - string
          - 'null'
          enum:
          - DELTA
          - SET
          description: Whether the value is a delta to add or an absolute value to set.
      required:
      - customerId
      - featureId
      - value
      additionalProperties: false
      description: Reports usage measurements for metered features.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: Full access key from the Stigg dashboard (Integrations > API Keys).
